
#u391 {
margin-top:0px;
margin-left:0px;
text-align:center;
font-size:20px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:45px;
  width:170px;
  height:45px;
  top:120px;
  text-align:center;
  color:white;
  font-size:22px;
  line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);

}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  color:black;
}
#u392_2 {
  border-width:0px;
  position:absolute;
  left:345px;
  width:170px;
  height:45px;
  top:120px;
  text-align:center;
  color:white;
  font-size:22px;
  line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u392_2_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:94px;
  color:black;
}
#u393{
	  border-width:0px;
  position:absolute;
  left:50px;
  width:150px;
  height:55px;
  top:180px;
  text-align:center;
  color:black;
  font-size:26px;
  line-height:40px;
}

#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u394{

  position:absolute;
  left:41px;
  top:225px;
  width:1080px;
  height:137px;
  font-size:20px;
}

#u370 {

  position:absolute;
  left:84px; 
  top:235px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u370_text {

  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u370_ {

  position:absolute;
  left:225px; 
  top:235px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u370__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}


#u371 {
  border-width:0px;
  position:absolute;
  left:84px; 
  top:270px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u371_ {
  
  position:absolute;
  left:225px; 
  top:270px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u371__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:380px; 
  top:270px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u372_ {
  
  position:absolute;
  left:435px; 
  top:270px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u372__text {
 
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:270px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u373_ {
  position:absolute;
  left:670px; 
  top:270px;
  width:120px;
  height:25px;
  font-size:22px;
}
#u373__text {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
  text-align:center;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:800px; 
  top:270px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u374_ {

  position:absolute;
  left:900px; 
  top:270px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u374__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:84px; 
  top:310px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u376 {
  border-width:0px;
  position:absolute;
  left:380px; 
  top:310px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u376_ {
  
  position:absolute;
  left:225px; 
  top:310px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u376__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:605px; 
  top:310px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u377_ {

  position:absolute;
  left:435px; 
  top:310px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u377__text {


  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u378 {

  position:absolute;
  left:825px; 
  top:310px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u378_ {
  position:absolute;
  left:660px; 
  top:310px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u378__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}

#u379 {

  position:absolute;
  left:84px; 
  top:355px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u379_text {

  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u380 {

  position:absolute;
  left:380px; 
  top:355px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u380_text {

  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u380_ {

  position:absolute;
  left:225px; 
  top:355px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u380__text {

  border:black;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}


#u381 {
  border-width:0px;
  position:absolute;
  left:605px; 
  top:355px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u381_ {

  position:absolute;
  left:435px; 
  top:355px;
  width:80px;
  height:25px;
  font-size:22px;
}
#u381__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:825px; 
  top:355px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u382_ {

  position:absolute;
  left:660px; 
  top:355px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u382__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u383{
  border-width:0px;
  position:absolute;
  left:50px;
  width:150px;
  height:55px;
  top:400px;
  text-align:center;
  color:black;
  font-size:26px;
  line-height:40px;
}
#u384{
	  border-width:0px;
  position:absolute;
  left:41px;
  top:200px;
  width:1080px;
  height:130px;
  font-size:20px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:1080px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}

#u385 {
  border-width:0px;
  position:absolute;
  left:84px; 
  top:465px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u385_ {
  
  position:absolute;
  left:225px; 
  top:465px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u385__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:465px;
  width:184px;
  height:13px;
  font-size:24px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}

#u386_ {
  
  position:absolute;
  left:725px; 
  top:465px;
  width:140px;
  height:25px;
  font-size:22px;
}
#u386__text {

  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
  text-align:center;
}








#u370_{
	
}





#u442_div {
  border-width:0px;
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(102, 102, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:50px;
  width:1150px; 
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1146px;
  word-wrap:break-word;
  text-align:center;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:900px;
  background-color:#666699;
  width:110px;
  height:40px;
  top:550px;
  text-align:center;
  color:white;
  font-size:20px;
  line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
  text-align:center;
}

#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1030px;
  background-color:#666699;
  width:110px;
  height:40px;
  top:550px;
  text-align:center;
  color:white;
  font-size:20px;
  line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
  text-align:center;
}
/* 提交按钮 
.tj{
background-color:#666699;
width:110px;
height:40px;
position:absolute;
right:300px;
top:550px;
text-align:center;
color:white;
font-size:20px;
line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
/* 返回按钮 
.fh{

background-color:#666699;
width:110px;
height:40px;
position:absolute;
right:160px;
top:550px;
text-align:center;
color:white;
font-size:20px;
line-height:40px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

*/

