<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>查询护理类型页面</title>
</head>
<body>
    <form action="/search_nursing_type/" method="post">
        {% csrf_token %}
        <p>护理类型ID</p>
        <input type="text" name="type_id">
        <p>护理类型名称</p>
        <input type="text" name="name">
        <input type="submit" value="提交">
    </form>

    <p>返回信息</p>
    <p>查询到{{ num }}条数据</p>
    <table border="1">
        {% for info in type_list %}
        <tr>
            <td width="200">{{ info.typeID }}</td>
            <td width="200">{{ info.name }}</td>
            <td width="200">{{ info.details }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>